body {
    background-color:brown;
    background-blend-mode: color-burn;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size:medium;
  font-style: italic;
 
  
  }
  
  h1 {
    font-size: large;
    font-style: italic;
    

  }